body, html {
  height: 100%;
}

.container{
  height: 100%;
}

h1 {
  font-family: monospace;  
}


h2 {
    font-family: monospace;
  }


#main {
  border: 3px solid black;
  /*Sets the height of the ticket stub*/
  background-image: url(assets/paper.jpg);
  width: 1200px;
  height: auto;
}



img{
  position: static; 
  height: 55px; 
}


#mobile{
  display: none;
}


@media only screen and (max-width: 600px) {

    #main {
      border: 3px solid black;
      /*Sets the height of the ticket stub*/
      background-image: url(assets/paper.jpg);
      width: auto;
      height: auto;
    }
    
  }

  @media only screen and (min-width: 768px) and (max-width: 912px) {

    #main {
      border: 3px solid rgb(0, 0, 0);
      /*Sets the height of the ticket stub*/
      background-image: url(assets/paper.jpg);
      width: auto;
      height: auto;
      position: relative;
      align-items: center;
    }
    
  }
